<%%= form_for(@<%= singular_table_name %>, html: { class: 'form-horizontal' }) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= t('errors.messages.not_saved', count: @<%= singular_table_name %>.errors.count, resource: <%= namespace %>::<%= class_name %>.model_name.human) %></h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="control-group">
    <%%= f.label :<%= attribute.name %>, class: 'control-label' %>
    <div class="controls">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </div>
  </div>

<% end -%>
  <div class="actions">
    <%%= f.submit class: 'btn' %>
  </div>
<%% end %>
