<h1><%%= t('views.headings.index', model_name: <%= namespace %>::<%= class_name %>.model_name.human(count: :other)) %></h1>

<%%= render 'search_form', q: @q %>

<table class="table table-condensed table-hover table-striped">
  <tr>
<% attributes.each do |attribute| -%>
    <th><%%= sort_link(@q, :<%= attribute.name %>, <%= namespace %>::<%= class_name %>.human_attribute_name(:<%= attribute.name %>)) %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to t('views.actions.show'), <%= singular_table_name %> %></td>
    <td><%%= link_to t('views.actions.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
    <td><%%= link_to t('views.actions.destroy'), <%= singular_table_name %>, <%= key_value :method, ":delete" %>, <%= key_value :data, "{ #{key_value :confirm, "t('views.confirmations.destroy')"} }" %> %></td>
  </tr>
<%% end %>
</table>

<%%= will_paginate @<%= plural_table_name %> %>

<br />

<%%= link_to t('views.actions.new', model_name:  <%= namespace %>::<%= class_name %>.model_name.human ), new_<%= singular_table_name %>_path %>