<% attributes.each do |attribute| -%>
<p>
  <b><%%= <%= namespace %>::<%= class_name %>.human_attribute_name(:<%= attribute.name %>) %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to t('views.actions.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to t('views.actions.back'), <%= index_helper %>_path %>
