<h1>Listing <%%= <%= class_name %>.model_name.human(count: :other) %></h1>

<table>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%%= <%= class_name %>.human_attribute_name(:<%= attribute.name %>) %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
    <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
    <td><%%= link_to 'Destroy', <%= singular_table_name %>, <%= key_value :method, ":delete" %>, <%= key_value :data, "{ #{key_value :confirm, "'Are you sure?'"} }" %> %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to t('.new', model_name:  <%= class_name %>.model_name.human ), new_<%= singular_table_name %>_path %>